body {
  font-family: Roboto, sans-serif
}

iframe {
  border: none !important;
}

.theme--light.v-btn:focus::before {
  opacity: 0 !important;
}

theme--light.v-btn:hover::before {
  opacity: 0 !important;
}


.v-list-item--link:before {
  background-color: #FCF1F6 !important;
}
.theme--light.v-list-item:hover::before {
  opacity: 1!important;
}


.v-btn {
  &__content {
    text-transform: none!important;
    letter-spacing: normal;
  }
}

.v-btn:before {
  display: none !important;
}

.v-menu__content {
  z-index: 10!important;
}

body {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color_gray;
    width: 6px;
  }
}

.action-panel-wp {
  button.v-btn.v-btn--has-bg {
    background-color: transparent;
    box-shadow: none;

  }
}

.v-text-field--outlined fieldset {
  padding-left: 19px;
}

.v-text-field--outlined .v-label.v-label--active {
  top: 15px !important;
  display: block;
}

.v-label:first-letter {
  text-transform: capitalize !important;
}

.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed .v-select__selections {
  min-height: 55px !important;
}

.v-select--chips.v-text-field--outlined .v-label.v-label--active {
  padding-left: 7px;
}

.error {
  border: 2px solid $color_warn_border2;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: $font_normal;
  padding: $space_small $space_normal;
  color: $color_font_normal;
  margin: 10vh auto;

  & img {
    margin-right: $space_tiny;
  }
}