// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-title-details: 22px;
$font-size-title-preview: 19px;
$font-size-profile-name: 17px;
$font-size-normal: 17px;
$font-size-secondary-text: 14px;
$font-size-buttons-text: 17px;