//Font sizes
$font_extra_small: .0.75rem;
$font_small: .875rem;
$font_normal: 1.0625rem;
$font_large: 1.1875rem;
$font_huge: 1.375rem;

//Box shadows
$box_shadow_for_tabs: 0 1px 8px rgb(0 0 0 / 20%);
$box_shadow_left_drawer: 0px 4px 15px rgba(0, 0, 0, 0.1);
$box_shadow_card: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
$header_shadow: 0px 3px 10px rgba(153, 153, 153, 0.14), 0px 3px 9px rgba(153, 153, 153, 0.12), 0px 1px 20px rgba(153, 153, 153, 0.2);
$drawer_shadow: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 17.71%, rgba(255, 255, 255, 0.6) 40.1%, #FFFFFF 78.12%);

:root {
  --primary-color: #eb2f96;
  --seconadry-color: #222;
  --dark-gray: #888888;
  --outline-color: #DDDDDD;
  --bg-color: #F2F2F2;
  --white-color: #fff;
  --text-red-color: #d42c19;
  --text-disabled-color: #BCBCBC;
  --green-color: #3BB356;
  --red-color: #EA3323;
  --yellow-color: #EFB041;
  --light-yellow-color: #FFFAD5;
  --warning-light-color: #f3e8ac;
  --warning-color: #ED6C02;
  --hover-color: #FCF1F6;
}

//Colors background
$comment_bg_gray: var(--bg-color);
$comment_bg_white: var(--white-color);
$icon_bg_gray: var(--bg-color);
$tag_bg_gray: var(--bg-color);
$body_bg: var(--bg-color);
$snackbar_bg: var(--white-color);
$tab_bg_white: var(--white-color);
$button_bg_primary: var(--primary-color);
$button_bg_disabled: var(--bg-color);
$button_bg_white: var(--white-color);
$spinner_bg: var(--primary-color);
$container_bg_white: var(--white-color);
$alert_message_bg: var(--light-yellow-color);
$hidden_container_bg: var(--light-yellow-color);

//Colors text
$text_color_dark_gray: var(--dark-gray);
$text_color_primary: var(--primary-color);
$text_color_normal: var(--seconadry-color);
$text_color_white: var(--white-color);
$text_color_red: var(--text-red-color);
$text_color_disabled: var(--text-disabled-color);

//Colors outline&border
$button_outline_gray: var(--outline-color);
$button_outline_primary: var(--primary-color);
$input_outline_gray: var(--outline-color);
$input_focused_outline: var(--seconadry-color);
$line_outline_gray: var(--outline-color);
$photo_outline_gray: var(--outline-color);
$border_outline_gray: var(--outline-color);
$border_outline_warn: var(--warning-light-color);
$border_outline_warn_2: var(--warning-color);

//Colors icon
$icon_color_dark_gray: var(--dark-gray);
$icon_color_normal: var(--seconadry-color);
$icon_color_white: var(--white-color);
$icon_color_alert: var(--yellow-color);
$icon_color_like: var(--green-color);
$icon_color_dislike: var(--red-color);

//Colors hover
$hover_menu_item: var(--hover-color);

//Colors general
$scroll_outline_gray: var(--outline-color);
$slider_color: var(--primary-color);


//Space
$space_mini: .25rem;
$space_tiny: .5rem;
$space_small: .75rem;
$space_normal: 1rem;
$space_large: 1.25rem;
$space_big: 1.5rem;
$space_huge: 2rem;

//CONTAINER WIDTH
$general_width: 763px;
$modal_width: 432px;

//Line-height
$main_line_height: 1.5rem;
$normal_line_height: 1rem;

//Buttons
$buttons_width: 2.25rem;
$buttons_height: 2.25rem;

//Border radius
$border_small: 4px;